include mixins
extends layout

block content

  <div class="alert alert-info" role="alert"><strong>Authorization Required:</strong> Click here to <button id="openSSO" type="button" class="btn btn-default">Authorize</button> this app access to your RingCentral account.</div>
